.red-btn {
  background-color: red;
  color: white;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.form {
  width: 50%;
  margin-inline: auto;
}

.save {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem;
}

.task {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
}
